bcrypt==5.0.0
blinker==1.9.0
click==8.2.1
colorama==0.4.6
Flask==3.1.1
Flask-Bcrypt==1.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==23.2
python-dotenv==1.1.1
setuptools==78.1.1
six==1.17.0
Werkzeug==3.1.5
certifi==2026.1.4
charset-normalizer==3.4.4
duckdb==1.4.3
idna==3.11
requests==2.32.5
urllib3==2.6.3